@import "src/assets/styles/globalStyles";

// @mixin before-after-content($positionOne, $positionTwo, $width, $height, $image) {
//    content: "";
//    position: absolute;
//    #{$positionOne}: 0;
//    #{$positionTwo}: 0;
//    width: $width;
//    height: $height;
//    background-image: url($image);
//    background-repeat: no-repeat;
//    background-size: contain;
//    background-position: center;
// }

@mixin list-border {
   &:not(:first-child) {
      border-left: 1px solid $textWhite;
      margin-left: 8px;
      padding-left: 8px;
   }
}

.footer-container {
   flex-shrink: 0;
   position: relative;
   width: 100%;
   background-color: $backgroundDark;
   // &::before {
   //    @include before-after-content(
   //       bottom,
   //       left,
   //       179px,
   //       172px,
   //       "../../assets/images/footer/bottomLeftGradient.svg"
   //    );
   // }
   // &::after {
   //    @include before-after-content(
   //       top,
   //       right,
   //       278px,
   //       252px,
   //       "../../assets/images/footer/topRightGradient.svg"
   //    );
   // }
   .footer-content {
      // position: relative;
      // z-index: 1;
      min-height: 329px;
      padding-top: 78px;
      padding-bottom: 24px;
      @media (max-width: $tablet) {
         padding-top: 40px;
      }
      @media (max-width: $mobile) {
         padding-bottom: 17px;
      }
      .footer-contact-content-box {
         width: 100%;
         display: flex;
         justify-content: space-between;
         @media (max-width: $tablet) {
            flex-direction: column-reverse;
         }
         .title {
            @include font-style(16px, 500, $themePrimary, 18px);
         }
         .info-box {
            max-width: 290px;
            width: 100%;
            @media (max-width: $tablet) {
               margin-top: 56px;
            }
            .info-text {
               max-width: 184px;
               width: 100%;
               @include font-style(14px, 500, $textWhite, 16px);
               margin: 16px 0 24px;
            }
            .social-media-icons-box {
               width: 100%;
               .social-media-icons-list {
                  & li:not(:first-child) {
                     margin-left: 24px;
                  }
                  .social-media-icons-anchor {
                     display: inline-block;
                     width: 40px;
                     height: 40px;
                     & img {
                        width: 100%;
                        object-fit: contain;
                        &.social-media-icon-hover {
                           display: none;
                        }
                     }
                     &:hover {
                        img.social-media-icon {
                           display: none;
                        }
                        img.social-media-icon-hover {
                           display: block;
                        }
                     }
                  }
               }
            }
         }
         .contact-and-sign-up-box {
            flex-grow: 1;
            display: flex;
            @media (max-width: $mobile) {
               flex-direction: column;
            }
            .contact-box {
               width: 100%;
               display: flex;
               .company-box {
                  max-width: 255px;
                  width: 100%;
               }
               .contact-us-box {
                  margin-left: 84px;
               }
               .list {
                  margin-top: 16px;
                  & a {
                     @include font-style(14px, 500, $textWhite, 16px);
                     text-decoration: none;
                  }
                  &.contact-us-list {
                     display: flex;
                     align-items: center;
                     & img {
                        width: 24px;
                        height: 24px;
                     }
                     & a {
                        margin-left: 8px;
                     }
                  }
               }
            }
            .sign-up-box {
               max-width: 255px;
               width: 100%;
               margin-left: 85px;
               @media (max-width: $mobile) {
                  margin-left: 0;
                  margin-top: 56px;
               }
               .sign-up-info {
                  margin: 16px 0;
                  @include font-style(14px, 500, $textGrey, 16px);
               }
               .sign-up-label {
                  display: block;
                  position: relative;
                  padding: 12px 8px 12px 16px;
                  background-color: $backgroundPrimary;
                  border-radius: 10px;
                  input {
                     border: none;
                     outline: none;
                     width: 100%;
                     @include font-style(14px, 400, $textSecondary, 16px);
                  }
               }
            }
         }
      }
      .footer-copyright-and-terms-privacy-box {
         margin-top: 80px;
         @media (max-width: $tablet) {
            margin-top: 56px;
         }
         @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
         }
         .copyright-list {
            li {
               @include font-style(12px, 400, $textWhite, 14px);
               @include list-border();
            }
         }
         .terms-privacy-box {
            @media (max-width: $mobile) {
               margin-top: 8px;
            }
            .terms-privacy-list {
               li {
                  @include list-border();
                  a {
                     @include font-style(12px, 400, $textWhite, 14px);
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }
}
