<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <span style="color: green">{{ message }}</span>
    <h2 style="color: red; text-transform: uppercase">health insurance claim form</h2>
  </body>
</html>