@import "src/assets/styles/globalStyles";

.topbar-container {
   width: 100%;
   background-image: url("../../assets/images/base.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   .topbar-content {
      position: relative;
      z-index: 1;
      min-height: 80px;
      @media (max-width: $mobile) {
         min-height: 62px;
      }
      .topbar-logo {
         font-size: 24px;
         font-weight: 700;
         line-height: 28px;
         position: relative;
         z-index: 2;
      }
      .desktop-nav {
         @media (max-width: $tablet) {
            display: none;
         }
         .nav-links-container {
            width: 100%;
            .nav-links-list {
               li {
                  &:not(:first-child) {
                     margin-left: 32px;
                  }
                  a {
                     font-size: 16px;
                     font-weight: 700;
                     color: $textWhite;
                     line-height: 18px;
                     text-decoration: none;
                     &:hover {
                        color: $themePrimary;
                     }
                     &.active {
                        color: $themePrimary;
                        cursor: default;
                     }
                  }
                  .box-for-gap {
                     width: 156px;
                     height: 0;
                  }
               }
            }
         }
      }
      .tablet-nav {
         display: none;
         @media (max-width: $tablet) {
            display: block;
         }
         .menu-button {
            padding: 0;
            width: 42px;
            height: 42px;
            background-image: url("../../assets/images/topBar/menuIcon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: all 0.2s linear;
            &.shown {
               background-image: url("../../assets/images/topBar/menuCloseIcon.svg");
            }
            background-color: inherit;
            position: fixed;
            top: 40px;
            transform: translateY(-50%);
            right: 32px;
            z-index: 2;
            @media (max-width: $mobile) {
               width: 30px;
               height: 30px;
               top: 32px;
               right: 16px;
            }
         }
         .menu-container {
            position: fixed;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            max-height: 0;
            height: 100%;
            background-color: #0000007e;
            border: 1px solid #707070;
            transition: all 0.1s linear;
            &.shown {
               max-height: 100vh;
               opacity: 1;
               .nav-links-container {
                  max-height: 444px;
                  padding: 80px 32px;
                  @media (max-width: $mobile) {
                     max-height: 492px;
                  }
               }
            }
            .nav-links-container {
               width: 100%;
               max-height: 0;
               overflow-y: auto;
               position: fixed;
               top: 0;
               left: 0;
               background-color: $backgroundSecondary;
               padding: 0;
               display: flex;
               justify-content: center;
               transition: all 0.2s linear;
               .nav-links-list {
                  max-width: 360px;
                  width: 100%;
                  @media (max-width: $mobile) {
                     max-width: 263px;
                  }
                  li {
                     width: 100%;
                     padding-bottom: 16px;
                     margin-bottom: 16px;
                     border-bottom: 1px solid #0493ec5a;
                     display: flex;
                     justify-content: center;
                     a {
                        font-size: 20px;
                        font-weight: 700;
                        color: $textSecondary;
                        text-decoration: none;
                     }
                  }
               }
            }
         }
      }
   }
}
