@import "src/assets/styles/globalStyles";

.button {
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;

   &.book-demo-button {
      position: fixed;
      top: 40px;
      z-index: 9;
      transform: translateY(-50%);
      right: calc((100% - 1440px) / 2 + 80px);
      @media (max-width: 1440px) {
         right: 80px;
      }
      @media (max-width: $desktop) {
         right: 32px;
      }
      width: 156px;
      height: 48px;
      border-radius: 10px;
      box-shadow: 0px 0px 6px #347af069;
      background-color: $themePrimary;
      margin-left: 32px;
      font-size: 18px;
      font-weight: 500;
      color: $textWhite;
   }
   &.book-demo-button-mobile {
      width: 230px;
      height: 48px;
      border-radius: 10px;
      box-shadow: 0px 0px 6px #0000001a;
      background-color: $themePrimary;
      font-size: 16px;
      font-weight: 500;
      color: $textWhite;
      margin-top: 16px;
   }

   &.sign-in-button {
      padding: 0;
      background-color: inherit;
      font-size: 16px;
      font-weight: 700;
      color: $textWhite;
      line-height: 18px;
      &:hover {
         color: $themePrimary;
      }
   }
   &.sign-in-button-mobile {
      font-size: 20px;
      font-weight: 700;
      color: $textSecondary;
      background-color: inherit;
   }

   &.sign-up-button {
      position: absolute;
      right: 8px;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      background-color: inherit;
   }

   &.book-demo-with-shadow-button {
      position: relative;
      width: 156px;
      height: 48px;
      background-color: $themePrimary;
      border-radius: 10px;
      box-shadow: 0px 0px 6px #0000001a;
      @media (max-width: $desktop) {
         width: 230px;
      }
      @media (max-width: $mobile) {
         width: 263px;
      }
      &::before {
         content: "";
         position: absolute;
         top: -6px;
         left: -6px;
         width: 168px;
         height: 60px;
         background-color: #f8fafb1a;
         border-radius: 10px;
         @media (max-width: $desktop) {
            width: 242px;
         }
         @media (max-width: $mobile) {
            width: 275px;
         }
      }
      font-size: 16px;
      font-weight: 500;
      color: $textWhite;
   }

   &.watch-video-button {
      background-color: inherit;
      font-size: 16px;
      font-weight: 500;
      color: $textWhite;
      margin-left: 24px;
      @media (max-width: $desktop) {
         margin-left: 0;
         margin-top: 24px;
      }
      &::before {
         content: "";
         width: 40px;
         height: 40px;
         background-image: url(../../assets/images/home/playVideo.png);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: center;
         margin-right: 8px;
      }
   }

   &.book-demo {
      margin: 0 auto;
      width: 153px;
      height: 48px;
      box-shadow: 0px 0px 6px #347AF069;
      border-radius: 10px;
      background-color: $themePrimary;
      font-size: 18px;
      font-weight: 500;
      color: $textWhite;
   }

   &.read-more-button {
      display: inline-flex;
      background-color: inherit;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      color: $themePrimary;
      line-height: 24px;
   }
}
