@import "src/assets/styles/globalStyles";

.help-center-fragment {
    width: 100%;
    .help-center-header {
        width: 100%;
        padding: 56px 0 136px;
        @media (max-width: $desktop) {
            padding: 48px 0 144px;
        }
        @media (max-width: $mobile) {
            padding: 42px 0 61px;
        }
        .header-content {
            max-width: 651px;
            width: 100%;
            @media (max-width: $desktop) {
                margin: 0 auto;
                text-align: center;
            }
            .content-title {
                @include font-style(56px, 700, #F8FAFB, 66px);
                @media (max-width: $desktop) {
                    font-size: 40px;
                    line-height: 50px;
                }
                @media (max-width: $mobile) {
                    font-size: 32px;
                }
            }
            .content-subtitle {
                margin: 11px 0 30px;
                @media (max-width: $desktop) {
                    margin: 14px 0 32px;
                }
                @media (max-width: $mobile) {
                    margin: 18px 0 29px;
                }
                @include font-style(16px, 400, #EBF2FD, 20px);
                @media (max-width: $desktop) {
                    line-height: 24px;
                }
            }
        }
    }
}